nodered/.flows.json.backup
[{"id":"211fc1c5.7e15ce","type":"tab","label":"Flow 1","disabled":false,"info":""},{"id":"4ca9abd6.4e7b74","type":"tab","label":"Flow 2","disabled":false,"info":""},{"id":"477cd7e3.e23738","type":"mqtt-broker","z":"","name":"","broker":"mqtt","port":"1883","clientid":"","usetls":false,"compatmode":true,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","closeTopic":"","closeQos":"0","closePayload":"","willTopic":"","willQos":"0","willPayload":""},{"id":"fc0f3be4.3f1068","type":"mongo-client","z":"","uri":"mongodb://mongo:27017/henkaten_ols","name":"","options":""},{"id":"8c3a07a.77ffaf8","type":"ui_base","theme":{"name":"theme-light","lightTheme":{"default":"#0094CE","baseColor":"#0094CE","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","edited":true,"reset":false},"darkTheme":{"default":"#097479","baseColor":"#097479","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","edited":false},"customTheme":{"name":"Untitled Theme 1","default":"#4B7930","baseColor":"#4B7930","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"},"themeState":{"base-color":{"default":"#0094CE","value":"#0094CE","edited":false},"page-titlebar-backgroundColor":{"value":"#0094CE","edited":false},"page-backgroundColor":{"value":"#fafafa","edited":false},"page-sidebar-backgroundColor":{"value":"#ffffff","edited":false},"group-textColor":{"value":"#1bbfff","edited":false},"group-borderColor":{"value":"#ffffff","edited":false},"group-backgroundColor":{"value":"#ffffff","edited":false},"widget-textColor":{"value":"#111111","edited":false},"widget-backgroundColor":{"value":"#0094ce","edited":false},"widget-borderColor":{"value":"#ffffff","edited":false},"base-font":{"value":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"}},"angularTheme":{"primary":"indigo","accents":"blue","warn":"red","background":"grey"}},"site":{"name":"Node-RED Dashboard","hideToolbar":"false","allowSwipe":"false","lockMenu":"false","allowTempTheme":"true","dateFormat":"DD/MM/YYYY","sizes":{"sx":48,"sy":48,"gx":6,"gy":6,"cx":6,"cy":6,"px":0,"py":0}}},{"id":"deb43abd.055838","type":"ui_tab","z":"","name":"Home","icon":"dashboard","disabled":false,"hidden":false},{"id":"a059c2cd.6ef21","type":"ui_group","z":"","name":"Default","tab":"deb43abd.055838","disp":true,"width":"6","collapse":false},{"id":"c1fa4fae.7bd52","type":"ui_button","z":"211fc1c5.7e15ce","name":"","group":"a059c2cd.6ef21","order":0,"width":0,"height":0,"passthru":false,"label":"button","tooltip":"","color":"","bgcolor":"","icon":"","payload":"","payloadType":"str","topic":"","x":247.20001220703125,"y":532.8000183105469,"wires":[["83c9a945.09c908"]]},{"id":"e56cf04b.50521","type":"ui_button","z":"211fc1c5.7e15ce","name":"","group":"a059c2cd.6ef21","order":0,"width":0,"height":0,"passthru":false,"label":"button","tooltip":"","color":"","bgcolor":"","icon":"","payload":"","payloadType":"str","topic":"","x":247,"y":584,"wires":[["f0f2735f.ce014"]]},{"id":"deb0816e.382b6","type":"ui_button","z":"211fc1c5.7e15ce","name":"","group":"a059c2cd.6ef21","order":0,"width":0,"height":0,"passthru":false,"label":"button","tooltip":"","color":"","bgcolor":"","icon":"","payload":"","payloadType":"str","topic":"","x":244,"y":636,"wires":[["e016faad.4f9e48"]]},{"id":"83c9a945.09c908","type":"function","z":"211fc1c5.7e15ce","name":"","func":"msg.payload=\"logout\"\nreturn msg;","outputs":1,"noerr":0,"x":447.2000045776367,"y":537.8000564575195,"wires":[["8e8e0068.e82e1","b3b9aeef.7504a"]]},{"id":"8e8e0068.e82e1","type":"mqtt out","z":"211fc1c5.7e15ce","name":"","topic":"0xb827ebb984f1/comand","qos":"","retain":"","broker":"477cd7e3.e23738","x":777.2000122070312,"y":675.0000076293945,"wires":[]},{"id":"b3b9aeef.7504a","type":"debug","z":"211fc1c5.7e15ce","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":712.2000122070312,"y":592,"wires":[]},{"id":"f0f2735f.ce014","type":"function","z":"211fc1c5.7e15ce","name":"","func":"msg.payload=\"logout\"\nreturn msg;","outputs":1,"noerr":0,"x":441,"y":587,"wires":[["8e8e0068.e82e1"]]},{"id":"e016faad.4f9e48","type":"function","z":"211fc1c5.7e15ce","name":"","func":"msg.payload=\"logout\"\nreturn msg;","outputs":1,"noerr":0,"x":441,"y":639,"wires":[["8e8e0068.e82e1"]]}]