nodered/flows.json
[{"id":"211fc1c5.7e15ce","type":"tab","label":"Flow 1","disabled":false,"info":""},{"id":"4ca9abd6.4e7b74","type":"tab","label":"Flow 2","disabled":false,"info":""},{"id":"477cd7e3.e23738","type":"mqtt-broker","z":"","name":"","broker":"mqtt","port":"1883","clientid":"","usetls":false,"compatmode":true,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","closeTopic":"","closeQos":"0","closePayload":"","willTopic":"","willQos":"0","willPayload":""},{"id":"fc0f3be4.3f1068","type":"mongo-client","z":"","uri":"mongodb://mongo:27017/henkaten_ols","name":"","options":""},{"id":"8c3a07a.77ffaf8","type":"ui_base","theme":{"name":"theme-light","lightTheme":{"default":"#0094CE","baseColor":"#0094CE","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","edited":true,"reset":false},"darkTheme":{"default":"#097479","baseColor":"#097479","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","edited":false},"customTheme":{"name":"Untitled Theme 1","default":"#4B7930","baseColor":"#4B7930","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"},"themeState":{"base-color":{"default":"#0094CE","value":"#0094CE","edited":false},"page-titlebar-backgroundColor":{"value":"#0094CE","edited":false},"page-backgroundColor":{"value":"#fafafa","edited":false},"page-sidebar-backgroundColor":{"value":"#ffffff","edited":false},"group-textColor":{"value":"#1bbfff","edited":false},"group-borderColor":{"value":"#ffffff","edited":false},"group-backgroundColor":{"value":"#ffffff","edited":false},"widget-textColor":{"value":"#111111","edited":false},"widget-backgroundColor":{"value":"#0094ce","edited":false},"widget-borderColor":{"value":"#ffffff","edited":false},"base-font":{"value":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"}},"angularTheme":{"primary":"indigo","accents":"blue","warn":"red","background":"grey"}},"site":{"name":"Node-RED Dashboard","hideToolbar":"false","allowSwipe":"false","lockMenu":"false","allowTempTheme":"true","dateFormat":"DD/MM/YYYY","sizes":{"sx":48,"sy":48,"gx":6,"gy":6,"cx":6,"cy":6,"px":0,"py":0}}},{"id":"deb43abd.055838","type":"ui_tab","z":"","name":"Home","icon":"dashboard","disabled":false,"hidden":false},{"id":"a059c2cd.6ef21","type":"ui_group","z":"","name":"Default","tab":"deb43abd.055838","disp":true,"width":"6","collapse":false},{"id":"9ab86f18.7353d","type":"ui_group","z":"","name":"Default","tab":"deb43abd.055838","disp":true,"width":"6","collapse":false},{"id":"e56cf04b.50521","type":"ui_button","z":"211fc1c5.7e15ce","name":"","group":"a059c2cd.6ef21","order":0,"width":0,"height":0,"passthru":false,"label":"Cadastrar","tooltip":"","color":"","bgcolor":"","icon":"","payload":"","payloadType":"str","topic":"","x":257,"y":584,"wires":[["f0f2735f.ce014"]]},{"id":"deb0816e.382b6","type":"ui_button","z":"211fc1c5.7e15ce","name":"","group":"a059c2cd.6ef21","order":0,"width":0,"height":0,"passthru":false,"label":"Reset","tooltip":"","color":"","bgcolor":"","icon":"","payload":"","payloadType":"str","topic":"","x":244,"y":636,"wires":[["e016faad.4f9e48"]]},{"id":"8e8e0068.e82e1","type":"mqtt out","z":"211fc1c5.7e15ce","name":"","topic":"RMTZ3049/comand","qos":"","retain":"","broker":"477cd7e3.e23738","x":683.200023651123,"y":559.0000495910645,"wires":[]},{"id":"b3b9aeef.7504a","type":"debug","z":"211fc1c5.7e15ce","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":628.2000350952148,"y":300.00000858306885,"wires":[]},{"id":"f0f2735f.ce014","type":"function","z":"211fc1c5.7e15ce","name":"","func":"msg.payload=\"cadastrar\"\nreturn msg;","outputs":1,"noerr":0,"x":441,"y":587,"wires":[["8e8e0068.e82e1","f8294d28.ff549","f7365f67.847ef"]]},{"id":"e016faad.4f9e48","type":"function","z":"211fc1c5.7e15ce","name":"","func":"msg.payload=\"reset\"\nreturn msg;","outputs":1,"noerr":0,"x":441,"y":639,"wires":[["8e8e0068.e82e1","f8294d28.ff549","f7365f67.847ef"]]},{"id":"c94be949.6133a8","type":"inject","z":"211fc1c5.7e15ce","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"50 05 * * *","once":false,"onceDelay":0.1,"x":269.01422119140625,"y":775.7329711914062,"wires":[["e016faad.4f9e48"]]},{"id":"2d8059e0.34c1c6","type":"inject","z":"211fc1c5.7e15ce","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"40 15 * * *","once":false,"onceDelay":0.1,"x":265.01422119140625,"y":836.7329711914062,"wires":[["e016faad.4f9e48"]]},{"id":"4a369e0b.64daf","type":"ui_template","z":"211fc1c5.7e15ce","group":"a059c2cd.6ef21","name":"","order":2,"width":0,"height":0,"format":"<div>\n\n<a class=\"btn btn-primary\" href=\"http://brmtz-dev-001:800/static/Frontend/relatorioGerencial.html\" role=\"button\">Ver Colaboradores Logados</a>\n\n</div>","storeOutMessages":true,"fwdInMessages":true,"templateScope":"local","x":312.2869338989258,"y":936.1988716125488,"wires":[[]]},{"id":"b68af8b5.f03b98","type":"ui_template","z":"211fc1c5.7e15ce","group":"a059c2cd.6ef21","name":"","order":2,"width":0,"height":0,"format":"<div>\n   <a class=\"btn btn-primary\" href=\"http://brmtz-dev-001:800/\" role=\"button\">Cadastrar Matrícula</a>\n\n</div>","storeOutMessages":true,"fwdInMessages":true,"templateScope":"local","x":315.01422119140625,"y":985.5511474609375,"wires":[[]]},{"id":"9c350ba7.6c20c8","type":"ui_template","z":"211fc1c5.7e15ce","group":"a059c2cd.6ef21","name":"","order":2,"width":0,"height":0,"format":" <a class=\"btn btn-primary\" href=\"http://brmtz-dev-001/admin\" role=\"button\">Voltar</a>","storeOutMessages":true,"fwdInMessages":true,"templateScope":"local","x":313.01422119140625,"y":1031.2784423828125,"wires":[[]]},{"id":"a1493bbb.766c68","type":"inject","z":"211fc1c5.7e15ce","name":"","topic":"","payload":"true","payloadType":"bool","repeat":"10","crontab":"","once":true,"onceDelay":0.1,"x":557.6360359191895,"y":848.6456089019775,"wires":[[]]},{"id":"f3a12a0.ff8ced8","type":"mqtt out","z":"211fc1c5.7e15ce","name":"","topic":"broadcast/logado","qos":"2","retain":"true","broker":"477cd7e3.e23738","x":909.6300659179688,"y":825.50856590271,"wires":[]},{"id":"9e2c7ec2.e2ac","type":"inject","z":"211fc1c5.7e15ce","name":"","topic":"","payload":"false","payloadType":"bool","repeat":"","crontab":"40 15 * * *","once":false,"onceDelay":0.1,"x":558.0142211914062,"y":902.2784423828125,"wires":[[]]},{"id":"dcac1c97.6fc25","type":"debug","z":"211fc1c5.7e15ce","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":676.4629974365234,"y":1263.2757844924927,"wires":[]},{"id":"c1587493.ddff98","type":"mqtt in","z":"211fc1c5.7e15ce","name":"","topic":"+/frontend","qos":"2","datatype":"auto","broker":"477cd7e3.e23738","x":318.46874618530273,"y":1272.3723735809326,"wires":[["ea726ba0.1d0818"]]},{"id":"f8294d28.ff549","type":"mqtt out","z":"211fc1c5.7e15ce","name":"","topic":"RMTZ3051/comand","qos":"","retain":"","broker":"477cd7e3.e23738","x":686.4000244140625,"y":646,"wires":[]},{"id":"4b9ab7de.ca91e8","type":"debug","z":"211fc1c5.7e15ce","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":666.5799179077148,"y":1090.3785495758057,"wires":[]},{"id":"d2838d88.7a5f5","type":"mqtt in","z":"211fc1c5.7e15ce","name":"","topic":"RMTZ3051/#","qos":"2","datatype":"auto","broker":"477cd7e3.e23738","x":474.01741790771484,"y":1089.788203239441,"wires":[[]]},{"id":"83ab086f.f733b8","type":"inject","z":"211fc1c5.7e15ce","name":"","topic":"","payload":"reboot","payloadType":"str","repeat":"","crontab":"40 15 * * *","once":false,"onceDelay":0.1,"x":498.68406677246094,"y":749.0105266571045,"wires":[["ec828222.73c64","f2b1f54a.bcc218"]]},{"id":"ec828222.73c64","type":"mqtt out","z":"211fc1c5.7e15ce","name":"","topic":"broadcast/command","qos":"2","retain":"","broker":"477cd7e3.e23738","x":680.5524215698242,"y":721.2559642791748,"wires":[]},{"id":"f2b1f54a.bcc218","type":"debug","z":"211fc1c5.7e15ce","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":645.3507080078125,"y":780.0104370117188,"wires":[]},{"id":"f7365f67.847ef","type":"mqtt out","z":"211fc1c5.7e15ce","name":"","topic":"RMTZ3047/comand","qos":"","retain":"","broker":"477cd7e3.e23738","x":690.3507080078125,"y":485.0104064941406,"wires":[]},{"id":"638f1efe.5fbac","type":"mqtt out","z":"211fc1c5.7e15ce","name":"","topic":"RMTZ3077/logado","qos":"2","retain":"false","broker":"477cd7e3.e23738","x":905,"y":886,"wires":[]},{"id":"1da0ea8d.88d2c5","type":"inject","z":"211fc1c5.7e15ce","name":"","topic":"","payload":"true","payloadType":"bool","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":1087.0000228881836,"y":1017.0000410079956,"wires":[["db4a6aae.e07558"]]},{"id":"db4a6aae.e07558","type":"mqtt out","z":"211fc1c5.7e15ce","name":"","topic":"RMTZ3077/reload","qos":"2","retain":"false","broker":"477cd7e3.e23738","x":1304.0000305175781,"y":1022.0000095367432,"wires":[]},{"id":"207e2d49.d70fe2","type":"mqtt out","z":"211fc1c5.7e15ce","name":"","topic":"broadcast/trocar","qos":"2","retain":"false","broker":"477cd7e3.e23738","x":642.2109985351562,"y":1592.2649402618408,"wires":[]},{"id":"d1128c93.814a2","type":"inject","z":"211fc1c5.7e15ce","name":"","topic":"","payload":"uploaded_files/0.gif","payloadType":"str","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":379.0197219848633,"y":1604.0041980743408,"wires":[["207e2d49.d70fe2"]]},{"id":"ea726ba0.1d0818","type":"function","z":"211fc1c5.7e15ce","name":"","func":"source = msg.topic.split(\"/\")[0];\nmsg.topic = source+\"/trocar\"\nmsg.payload=\"uploaded_files/0.gif\"\nreturn msg;","outputs":1,"noerr":0,"x":489.0195770263672,"y":1271.5040712356567,"wires":[["dcac1c97.6fc25","f4e583e6.a10cf"]]},{"id":"f4e583e6.a10cf","type":"mqtt out","z":"211fc1c5.7e15ce","name":"","topic":"","qos":"","retain":"","broker":"477cd7e3.e23738","x":651.38671875,"y":1350.1836977005005,"wires":[]},{"id":"74ef0a4f.b80ab4","type":"inject","z":"211fc1c5.7e15ce","name":"","topic":"","payload":"true","payloadType":"bool","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":402.51953887939453,"y":1440.5039138793945,"wires":[["a97db5be.4ebba8"]]},{"id":"a97db5be.4ebba8","type":"mqtt out","z":"211fc1c5.7e15ce","name":"","topic":"RMTZ3077/reload","qos":"2","retain":"false","broker":"477cd7e3.e23738","x":649.5195465087891,"y":1438.5038843154907,"wires":[]},{"id":"d80df8d1.019fa8","type":"mqtt out","z":"211fc1c5.7e15ce","name":"","topic":"RMTZ3077/trocar","qos":"2","retain":"false","broker":"477cd7e3.e23738","x":651.5195350646973,"y":1485.5039138793945,"wires":[]},{"id":"77c0996e.2bc478","type":"inject","z":"211fc1c5.7e15ce","name":"","topic":"","payload":"uploaded_files/2.gif","payloadType":"str","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":343.4227752685547,"y":1322.226791381836,"wires":[["d80df8d1.019fa8"]]},{"id":"33558058.66f79","type":"inject","z":"211fc1c5.7e15ce","name":"","topic":"","payload":"uploaded_files/2.gif","payloadType":"str","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":361.6359100341797,"y":1531.9968643188477,"wires":[["29779242.748f4e"]]},{"id":"29779242.748f4e","type":"mqtt out","z":"211fc1c5.7e15ce","name":"","topic":"broadcast/trocar","qos":"2","retain":"false","broker":"477cd7e3.e23738","x":638.5195388793945,"y":1535.5040102005005,"wires":[]},{"id":"36388197.12c07e","type":"mqtt out","z":"211fc1c5.7e15ce","name":"","topic":"broadcast/reload","qos":"2","retain":"false","broker":"477cd7e3.e23738","x":629.3319225311279,"y":1752.2430381774902,"wires":[]},{"id":"496c5f3c.03827","type":"inject","z":"211fc1c5.7e15ce","name":"","topic":"","payload":"true","payloadType":"bool","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":371.51956367492676,"y":1748.5039539337158,"wires":[["36388197.12c07e"]]},{"id":"8a38e69c.8eb738","type":"mqtt out","z":"211fc1c5.7e15ce","name":"","topic":"broadcast/popup","qos":"2","retain":"false","broker":"477cd7e3.e23738","x":623.0195426940918,"y":1804.0040460824966,"wires":[]},{"id":"56e1ab66.cd8564","type":"inject","z":"211fc1c5.7e15ce","name":"","topic":"","payload":"true","payloadType":"bool","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":373.01954460144043,"y":1800.003984451294,"wires":[["8a38e69c.8eb738"]]},{"id":"29635e7c.e15552","type":"http in","z":"4ca9abd6.4e7b74","name":"","url":"/consulta","method":"get","upload":false,"swaggerDoc":"","x":114.5,"y":135.0000057220459,"wires":[["be44e4ed.fe3ce8"]]},{"id":"7482b364.b2e22c","type":"debug","z":"4ca9abd6.4e7b74","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":328.5000305175781,"y":49.99999237060547,"wires":[]},{"id":"97eff995.9e8e08","type":"http response","z":"4ca9abd6.4e7b74","name":"","statusCode":"","headers":{},"x":562.5000171661377,"y":130.9999885559082,"wires":[]},{"id":"76bbfacc.6b90e4","type":"function","z":"4ca9abd6.4e7b74","name":"","func":"global.set(\"codigo\", msg.payload.codigo);\nreturn msg;","outputs":1,"noerr":0,"x":320.28979110717773,"y":291.13915824890137,"wires":[["64841db9.21cc94"]]},{"id":"7f82ea13.5a27b4","type":"debug","z":"4ca9abd6.4e7b74","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","x":572.0142539739609,"y":217.9147777557373,"wires":[]},{"id":"3276aad1.e71126","type":"debug","z":"4ca9abd6.4e7b74","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":545.0141983032227,"y":386.9147529602051,"wires":[]},{"id":"d89dbb7a.d48468","type":"http in","z":"4ca9abd6.4e7b74","name":"","url":"/escreve","method":"get","upload":false,"swaggerDoc":"","x":141.0142059326172,"y":288.00565338134766,"wires":[["76bbfacc.6b90e4","3276aad1.e71126"]]},{"id":"64841db9.21cc94","type":"http response","z":"4ca9abd6.4e7b74","name":"","statusCode":"","headers":{},"x":534.0142288208008,"y":293.005651473999,"wires":[]},{"id":"be44e4ed.fe3ce8","type":"function","z":"4ca9abd6.4e7b74","name":"","func":"var codigo = global.get(\"codigo\");\n\nmsg.payload = codigo.toString() \nreturn msg;","outputs":1,"noerr":0,"x":334.01423263549805,"y":150.91477584838867,"wires":[["97eff995.9e8e08"]]},{"id":"cc54a305.a68bb","type":"mqtt out","z":"211fc1c5.7e15ce","name":"","topic":"RMTZ3097/login","qos":"2","retain":"false","broker":"477cd7e3.e23738","x":635.0142211914062,"y":1933.3692626953125,"wires":[]},{"id":"b54df5d2.d50258","type":"inject","z":"211fc1c5.7e15ce","name":"","topic":"","payload":"{\"command\":\"login\"}","payloadType":"json","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":415.0142230987549,"y":1929.3692010641098,"wires":[["cc54a305.a68bb"]]},{"id":"803ea12.2a2736","type":"inject","z":"211fc1c5.7e15ce","name":"","topic":"","payload":"{\"command\":\"logout\",\"matricula\":\"2134\"}","payloadType":"json","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":369.01422119140625,"y":1984.1875,"wires":[["cc54a305.a68bb"]]},{"id":"9a3d1ee8.13b4","type":"mqtt in","z":"211fc1c5.7e15ce","name":"","topic":"#","qos":"2","datatype":"auto","broker":"477cd7e3.e23738","x":462,"y":1151.5999755859375,"wires":[["4b9ab7de.ca91e8"]]}]