nodered/flows.json
[{"id":"211fc1c5.7e15ce","type":"tab","label":"Flow 1","disabled":false,"info":""},{"id":"4ca9abd6.4e7b74","type":"tab","label":"Flow 2","disabled":false,"info":""},{"id":"477cd7e3.e23738","type":"mqtt-broker","z":"","name":"","broker":"mqtt","port":"1883","clientid":"","usetls":false,"compatmode":true,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","closeTopic":"","closeQos":"0","closePayload":"","willTopic":"","willQos":"0","willPayload":""},{"id":"fc0f3be4.3f1068","type":"mongo-client","z":"","uri":"mongodb://mongo:27017/henkaten_ols","name":"","options":""},{"id":"8c3a07a.77ffaf8","type":"ui_base","theme":{"name":"theme-light","lightTheme":{"default":"#0094CE","baseColor":"#0094CE","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","edited":true,"reset":false},"darkTheme":{"default":"#097479","baseColor":"#097479","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","edited":false},"customTheme":{"name":"Untitled Theme 1","default":"#4B7930","baseColor":"#4B7930","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"},"themeState":{"base-color":{"default":"#0094CE","value":"#0094CE","edited":false},"page-titlebar-backgroundColor":{"value":"#0094CE","edited":false},"page-backgroundColor":{"value":"#fafafa","edited":false},"page-sidebar-backgroundColor":{"value":"#ffffff","edited":false},"group-textColor":{"value":"#1bbfff","edited":false},"group-borderColor":{"value":"#ffffff","edited":false},"group-backgroundColor":{"value":"#ffffff","edited":false},"widget-textColor":{"value":"#111111","edited":false},"widget-backgroundColor":{"value":"#0094ce","edited":false},"widget-borderColor":{"value":"#ffffff","edited":false},"base-font":{"value":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"}},"angularTheme":{"primary":"indigo","accents":"blue","warn":"red","background":"grey"}},"site":{"name":"Node-RED Dashboard","hideToolbar":"false","allowSwipe":"false","lockMenu":"false","allowTempTheme":"true","dateFormat":"DD/MM/YYYY","sizes":{"sx":48,"sy":48,"gx":6,"gy":6,"cx":6,"cy":6,"px":0,"py":0}}},{"id":"deb43abd.055838","type":"ui_tab","z":"","name":"Home","icon":"dashboard","disabled":false,"hidden":false},{"id":"a059c2cd.6ef21","type":"ui_group","z":"","name":"Default","tab":"deb43abd.055838","disp":true,"width":"6","collapse":false},{"id":"9ab86f18.7353d","type":"ui_group","z":"","name":"Default","tab":"deb43abd.055838","disp":true,"width":"6","collapse":false},{"id":"e56cf04b.50521","type":"ui_button","z":"211fc1c5.7e15ce","name":"","group":"a059c2cd.6ef21","order":0,"width":0,"height":0,"passthru":false,"label":"Cadastrar","tooltip":"","color":"","bgcolor":"","icon":"","payload":"","payloadType":"str","topic":"","x":257,"y":584,"wires":[["f0f2735f.ce014"]]},{"id":"deb0816e.382b6","type":"ui_button","z":"211fc1c5.7e15ce","name":"","group":"a059c2cd.6ef21","order":0,"width":0,"height":0,"passthru":false,"label":"Reset","tooltip":"","color":"","bgcolor":"","icon":"","payload":"","payloadType":"str","topic":"","x":244,"y":636,"wires":[["e016faad.4f9e48"]]},{"id":"8e8e0068.e82e1","type":"mqtt out","z":"211fc1c5.7e15ce","name":"","topic":"RMTZ3047/comand","qos":"","retain":"","broker":"477cd7e3.e23738","x":767.2000122070312,"y":675.0000076293945,"wires":[]},{"id":"b3b9aeef.7504a","type":"debug","z":"211fc1c5.7e15ce","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":712.2000122070312,"y":592,"wires":[]},{"id":"f0f2735f.ce014","type":"function","z":"211fc1c5.7e15ce","name":"","func":"msg.payload=\"cadastrar\"\nreturn msg;","outputs":1,"noerr":0,"x":441,"y":587,"wires":[["8e8e0068.e82e1"]]},{"id":"e016faad.4f9e48","type":"function","z":"211fc1c5.7e15ce","name":"","func":"msg.payload=\"reset\"\nreturn msg;","outputs":1,"noerr":0,"x":441,"y":639,"wires":[["8e8e0068.e82e1"]]},{"id":"c94be949.6133a8","type":"inject","z":"211fc1c5.7e15ce","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"50 05 * * *","once":false,"onceDelay":0.1,"x":269.01422119140625,"y":775.7329711914062,"wires":[["e016faad.4f9e48"]]},{"id":"2d8059e0.34c1c6","type":"inject","z":"211fc1c5.7e15ce","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"40 15 * * *","once":false,"onceDelay":0.1,"x":265.01422119140625,"y":836.7329711914062,"wires":[["e016faad.4f9e48"]]},{"id":"4a369e0b.64daf","type":"ui_template","z":"211fc1c5.7e15ce","group":"a059c2cd.6ef21","name":"","order":2,"width":0,"height":0,"format":"<div>\n\n<a class=\"btn btn-primary\" href=\" http://brmtz-dev-001:800/api/getColaboradoresDoPosto?posto=0\" role=\"button\">Ver Colaboradores Logados</a>\n</div>","storeOutMessages":true,"fwdInMessages":true,"templateScope":"local","x":312.2869338989258,"y":936.1988716125488,"wires":[[]]},{"id":"b68af8b5.f03b98","type":"ui_template","z":"211fc1c5.7e15ce","group":"a059c2cd.6ef21","name":"","order":2,"width":0,"height":0,"format":"<div>\n   <a class=\"btn btn-primary\" href=\"http://brmtz-dev-001:800/\" role=\"button\">Cadastrar Matrícula</a>\n\n</div>","storeOutMessages":true,"fwdInMessages":true,"templateScope":"local","x":315.01422119140625,"y":985.5511474609375,"wires":[[]]},{"id":"9c350ba7.6c20c8","type":"ui_template","z":"211fc1c5.7e15ce","group":"a059c2cd.6ef21","name":"","order":2,"width":0,"height":0,"format":" <a class=\"btn btn-primary\" href=\"http://brmtz-dev-001/admin\" role=\"button\">Voltar</a>","storeOutMessages":true,"fwdInMessages":true,"templateScope":"local","x":313.01422119140625,"y":1031.2784423828125,"wires":[[]]},{"id":"a1493bbb.766c68","type":"inject","z":"211fc1c5.7e15ce","name":"","topic":"","payload":"true","payloadType":"bool","repeat":"","crontab":"40 15 * * *","once":false,"onceDelay":0.1,"x":571.0142211914062,"y":836.6420288085938,"wires":[["f3a12a0.ff8ced8"]]},{"id":"f3a12a0.ff8ced8","type":"mqtt out","z":"211fc1c5.7e15ce","name":"","topic":"RMTZ3047/logado","qos":"","retain":"true","broker":"477cd7e3.e23738","x":919.0139846801758,"y":832.6420125961304,"wires":[]},{"id":"9e2c7ec2.e2ac","type":"inject","z":"211fc1c5.7e15ce","name":"","topic":"","payload":"false","payloadType":"bool","repeat":"","crontab":"40 15 * * *","once":false,"onceDelay":0.1,"x":559.0142211914062,"y":907.2783813476562,"wires":[["f3a12a0.ff8ced8"]]},{"id":"dcac1c97.6fc25","type":"debug","z":"211fc1c5.7e15ce","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":822.4630432128906,"y":965.2755508422852,"wires":[]},{"id":"c1587493.ddff98","type":"mqtt in","z":"211fc1c5.7e15ce","name":"","topic":"RMTZ3047/#","qos":"2","datatype":"auto","broker":"477cd7e3.e23738","x":556.4687194824219,"y":973.3721389770508,"wires":[["dcac1c97.6fc25"]]}]